body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
    width: 75%;
}

.slider {
    width: 600px;
    margin-bottom: 50px;
}

.slider_wide {
    width: 1180px;
}

.slider-item {
    border: 2px transparent solid;
    border-image: linear-gradient(to right bottom, black 0%, silver 100%);
    border-image-slice: 1;
    width: 160px;
    height: 90px;
    color: purple;
    line-height: 90px;
    text-align: center;
}

.footer {
    margin: 20px;
    color: silver;
    font-size: 12px;
}