@font-face {
    font-family: 'Dosis';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Dosis-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Dosis' ;
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/Dosis-Bold.ttf') format('truetype');
  }
  
* {
    box-sizing: border-box;
}

:root {
    --main-font-color: #2f1946;
    --main-purple-color: #81398b;
    --main-pink-color: #fe4a5d;
    --main-red-color: #e22028;
    --main-yellow-color: #f9b416;
    --main-orange-color: #ff6c00;
    --main-darkpurple-color: #67326e;
    --main-darkpink-color: #e44254;
    --main-darkred-color: #cb1c24;
    --main-darkorange-color: #e56100;
    --main-green-color: #00cfae;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    color: var(--main-font-color);
}

.wrapper {
    max-width: 1270px;
    margin: 0 auto;
}

.header {
    --header-ratio: calc(100vw / 1798);
    --header-height: calc(1030 * var(--header-ratio));
    --header__wrapper-height: calc(var(--header-height) - 232px);
    --header__logo-width: calc(446 * var(--header-ratio));
    --header__title-font-size: calc(80 * var(--header-ratio));
    --header__title-margin: calc(65 * var(--header-ratio));
    --header__title-letter-spacing: calc(2 * var(--header-ratio));

    z-index: 1;
    overflow-x: hidden;
}

.header__image {
    background: url('../images/top-bg.png') 0 0 no-repeat;
    background-size: 100% auto;
    width: 100vw;
    height: var(--header-height);
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 75px;
    height: var(--header__wrapper-height);
}
@media only screen and (max-width: 1280px) {
    .header__wrapper {
        height: var(--header-height);
        justify-content: center;
        padding-bottom: 0;
    }
}

.header__title {
    font-size: var(--header__title-font-size);
    text-transform: uppercase;
    letter-spacing: var(--header__title-letter-spacing);
    margin: var(--header__title-margin) 0;
}

@media only screen and (max-width: 300px) {
    .header__title {
        color: transparent;
    }
}

.header__logo {
    width: var(--header__logo-width);
}

.signup {
    display: grid;
    grid-template-columns: 1fr 466px 1fr;
    column-gap: 40px;
    margin-top: 50px;
}

.signup::before {
    content: "";
    display: block;
    background: url('../images/form-leftcollage.png') right no-repeat;
    background-size: cover;
    margin-top: 14px;
    margin-bottom: 28px;
}

.signup::after {
    content: "";
    display: block;
    background: url('../images/form-rightcollage.png') left no-repeat;
    background-size: cover;
    margin-top: -4px;
    margin-bottom: 42px;
}

.signup__form {
    height: 550px;
    border: 8px transparent solid;
    border-image: linear-gradient(to right, var(--main-red-color) 0%, var(--main-yellow-color) 100%);
    border-image-slice: 1;
}

.signup__form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 300px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 763px) {
    .signup {
        grid-template-columns: 1fr;
    }

    .signup::before, .signup::after {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .signup__form-wrapper {
        width: 260px;
    }
    .signup__form {
        height: 420px;
    }
}

@media only screen and (max-width: 300px) {
    .signup__form-wrapper {
        width: 200px;
    }
    .signup__form {
        height: 400px;
    }
}


.join {
    display: flex;
    align-items: center;
    margin-top: 160px;
    height: 730px;
    background: url('../images/join-bg.png') center center no-repeat;
    background-size: cover;
    overflow: hidden;
}

.join__left, .join__right {
    position: relative;
    height: 100%;
    width: 50%;
}
@media only screen and (max-width: 763px) {
    .join {
        justify-content: center;
        height: 60vw;
        margin-top: 50px;
    }
    .join__left, .join__right {
        display: none;
    }
}

.footer__subscribe {
    display: flex;
    justify-content: center;
    margin: 33px 0;
}

.footer__menu {
    background-color: #fafafa;
}

.footer__menu .menu__items {
    padding: 27px 164px;
}


@media only screen and (max-width: 1280px) {
    .footer__menu .menu__items {
        padding-right: 0;
        padding-left: 0;
    }
}

@media only screen and (max-width: 763px) {
    .footer__menu .menu__items {
        padding-top: 10px;
        padding-bottom: 10px;
        height: 230px;
    }
}

.footer__flags {
	max-width: 740px;
	padding: 0 13px;
	margin: 21px auto;
}

.footer__hr {
    border-top: 2px solid transparent;
    border-bottom: 1px solid #d3d3d3;
    border-left: none;
    border-right: none;
    width: 46%;
}

.footer__copyright {
    font-family: 'Calibri', sans-serif;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    padding: 3px 20px 12px;
}

.socials {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    top: 41%;
    width: 49px;
    height: 195px;
    background-color: #45124c;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.socials__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 0;
    margin: 0;
    width: 24px;
    list-style: none;
}

.socials__item {
    display: block;
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.socials__image_sh {
    margin-top: -10px;
    margin-left: -10px;
}

.socials__image_fb {
    margin-top: -10px;
    margin-left: -54px;
}

.socials__image_ig {
    margin-top: -10px;
    margin-left: -98px;
}

.socials__image_tw {
    margin-top: -8px;
    margin-left: -142px;
}

@media only screen and (max-width: 763px) {
    .socials {
        position: static;
        align-items: center;
        height: 49px;
        width: 195px;
        margin: 0 auto 40px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .socials__container {
        flex-direction: row;
        width: 100%;
        height: 24px;
        padding: 0 5px;
    }
}


.menu-toggler {
    position: absolute;
    top: 21px;
    right: 62px;
    display: flex;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    color: var(--main-font-color);
}

.menu-toggler::after {
    content: "";
    display: block;
    width: 33px;
    height: 33px;
    margin-left: 12px;
    background: url('../images/bar.svg') 0 0 no-repeat;
    transition: filter 0.2s ease-out;
}

.menu-toggler:hover::after {
    filter: drop-shadow(0 0 5px var(--main-darkpink-color));
}

.menu-toggler:focus, .menu-toggler:active, .menu-toggler:hover {
    outline: none;
}

.menu-toggler_close::after {
    background: url('../images/close.png') 0 0 no-repeat;
}

.menu_main {
    background-color: white;
    border: 2px solid var(--main-darkpurple-color);
}

.menu__items {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.menu__items_main {
    padding: 0;
}

@media only screen and (min-width: 764px) and (max-width: 1280px) {
    .menu__items_main {
        align-items: center;
        height: 40px;
    }
    .menu_main {
        margin-right: 130px;
    }
}

@media only screen and (max-width: 763px) {
    .menu__items {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 1281px) {
    .menu_main {
        position: absolute;       
        top: 60px;
        right: 10px;
        z-index: 999;
    }
    .menu__items_main {
        flex-direction: column;
        align-items: center;
        height: 300px;
        width: 180px;
        margin: 0;
        padding: 0;
    }
}

.menu_hidden {
    display: none;
}

.menu__item {
    text-decoration: none;
    color: var(--main-font-color);
    transition: color,text-decoration 0.5s ease;
}

.menu__item:hover {
    color: var(--main-darkpurple-color);
    text-decoration: underline;
}

.menu__item:active {
    color: var(--main-purple-color);
}

@media only screen and (max-width: 1280px) {
    .menu-toggler {
        top: 20px;
        right: 20px;
    }
}

@media only screen and (max-width: 763px) {
    .menu-toggler__title {
        display: none;
    }
}

@media only screen and (max-width: 300px) {
    .menu__toggler::after {
        width: 25px;
        height: 25px;
    }
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-purple-color);
    color: white;
    font-size: 16px;
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 10px 0;
    text-decoration: none;
    cursor: pointer;
    transition: filter,box-shadow 0.2s ease;
}

.button:hover {
    filter: brightness(1.2);
}

.button:active {
    box-shadow: inset -2px 2px 2px 0 rgba(0, 0, 0, 0.35);
}

@media only screen and (max-width: 763px) {
    .button {
        font-size: 11px;
    }
}

.button_scroll {
    justify-content: space-evenly;
    font-size: 18px;
    padding: 0 14px;
    width: 163px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 25px;
}

.button_scroll::before {
    content: "";
    display: block;
    position: absolute;
    width: 186px;
    height: 70px;
    background-color: transparent;
    border-radius: 40px;
    border: 1px solid var(--main-purple-color);
}

.button_scroll::after {
    content: "";
    display: inline-block;
    background: url('../images/arrow-down.png') 0 0 no-repeat;
    background-size: cover;
    width: 16px;
    height: 22px;
}

@media only screen and (max-width: 763px) {
    .button_scroll {
        width: 21.3vw;
        height: 6.54vw;
        font-size: 2.36vw;
        padding: 0 1.83vw;
    }

    .button_scroll::after {
        width: 2.09vw;
        height: 2.88vw;
    }

    .button_scroll::before {
        width: 24.35vw;
        height: 9.16vw;
    }
}

@media only screen and (max-width: 450px) {
    .button_scroll {
        width: 100px;
        height: 30px;
        font-size: 11px;
        padding: 0 10px;
    }

    .button_scroll::after {
        width: 10px;
        height: 13.5px;
    }

    .button_scroll::before {
        display: none;
    }
}

.button_fb {
    background-color: #2f53a3;
}

.button_fb::before {
    content: "";
    display: inline-block;
    background: url('../images/icon-fb.png') center center no-repeat;
    width: 6px;
    height: 14px;
    margin: 0 10px;
}

.promo {
    text-align: center;
}

.promo__cards {
    padding: 0 242px;
    margin-top: -221px;
    height: 331px;
}
@media only screen and (max-width: 1280px) {
    .promo__cards {
        margin-top: 0;
        padding: 0 10%;
    }
}
@media only screen and (max-width: 763px) {
    .promo__cards {
        padding: 0;
        height: auto;
    }
}

.promo__title {
	margin: 124px 0 33px;
	font-size: 53px;
	text-transform: uppercase;
	letter-spacing: -0.75px;
}
@media only screen and (max-width: 763px) {
    .promo__title {
        margin-top: 60px;
    }
}

.promo__title::before {
	content: "";
	display: inline-block;
	background: url('../images/heart.png') 0 0 no-repeat;
	width: 57px;
	height: 59px;
	margin-right: 13px;
	position: relative;
	top: 9px;
}

.promo__quote {
    padding: 0 241px;
}
@media only screen and (max-width: 1280px) {
    .promo__quote {
        padding: 0 18vw;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5%;
    list-style: none;
    color: white;
}
@media only screen and (max-width: 763px) {
    .cards {
        grid-column-gap: 0;
        grid-template: repeat(3, 1fr) / auto;
    }
}

.card {
    display: grid;
    grid-template-rows: 2fr 1fr;
}
@media only screen and (max-width: 763px) {
    .card {
        grid-template: auto / 1fr 2fr;
        grid-column-gap: 5px;
        margin-top: 15px;
    }
}

.card_pink {
    background-color: var(--main-pink-color);
}

.card_red {
    background-color: var(--main-red-color);
}

.card_orange {
    background-color: var(--main-orange-color);
}

.card__image, .card__title {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__image {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    padding-top: 5px;
}
@media only screen and (max-width: 763px) {
    .card__image {
        box-shadow: none;
        padding: 7px;
        height: 10vw;
    }
}

.card__title {
    font-size: 32px;
    padding-bottom: 7px;
}
@media only screen and (max-width: 763px) {
    .card__title {
        font-size: 6vw;
    }
}

.card_pink .card__title {
    background-color: var(--main-darkpink-color);
}

.card_red .card__title {
    background-color: var(--main-darkred-color);
}

.card_orange .card__title {
    background-color: var(--main-darkorange-color);
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    margin: 0;
}

.quote__text {
    margin: 0;
    line-height: 36px;
}

.quote__author {
    align-self: flex-end;
    color: var(--main-pink-color);
    font-style: normal;
}

@media only screen and (max-width: 763px) {
    .quote {
        font-size: 18px;
    }
    .quote__text {
        line-height: normal;
        padding-bottom: 10px;;
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form__title {
    font-size: 38px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 30px;
}

.form__separator {
    display: flex;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: #9a9a9a ;
    text-transform: uppercase;
    margin: 5px 0;
}

.form__separator::before, .form__separator::after {
    content: "";
    display: block;
    height: 2px;
    width: 50%;
    background-color: gainsboro;
}
.form__separator::before {
    margin-right: 10px;
}

.form__separator::after {
    margin-left: 10px;
}

.form__field {
    font-family: "Dosis", sans-serif;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.1px;
    color: var(--main-font-color);
    border: 2px solid gainsboro;
    border-radius: 4px;
    padding: 8px 9px;
    margin: 6px 0;
}

.form__field::placeholder {
    font-family: "Dosis", sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.75px;
    color: #642f6b;
    opacity: 1;
}

.form__button {
    margin: 5px 0;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}


@media only screen and (max-width: 450px) {
    .form__title {
        font-size: 25px;
    }

    .form__field {
        font-size: 14px;
        padding: 3px 3px;
    }

    .form__field::placeholder {
        font-size: 14px;
    }
}

.bubble {
    --bubble-size: 200px;
    --bubble-shell-distance: 46px;
    --bubble-background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: var(--bubble-size);
    height: var(--bubble-size);
    border-radius: 50%;
    background-color: var(--bubble-background);
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.bubble::before {
    --bubble-border-size: calc(var(--bubble-size) + var(--bubble-shell-distance));
    content: "";
    display: block;
    position: absolute;
    width: var(--bubble-border-size);
    height: var(--bubble-border-size);
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.bubble_lang {
    --bubble-size: 155px;
    --bubble-background: var(--main-pink-color);
    left: 129px;
    top: 61px;
    font-size: 20px;
    transform: rotate(2deg);
}

.bubble_lang::after {
    content: "";
    display: block;
    height: 20px;
}

.bubble_lang .bubble__huge-number {
    font-size: 39px;
}

.bubble_gift {
    --bubble-size: 101px;
    --bubble-shell-distance: 30px;
    --bubble-background: var(--main-pink-color);
    left: 120px;
    bottom: 167px;
}

.bubble_translate {
    --bubble-size: 188px;
    --bubble-shell-distance: 57px;
    --bubble-background: var(--main-orange-color);
    left: 396px;
    bottom: 178px;
    font-size: 24px;
    line-height: 28px;
    transform: rotate(5deg);
}

.bubble_translate::after {
    content: "";
    display: block;
    height: 10px;
}

.bubble_talks {
    --bubble-size: 133px;
    --bubble-shell-distance: 40px;
    --bubble-background: var(--main-yellow-color);
    left: 619px;
    top: 92px;
}

.bubble_main {
	--bubble-size: 371px;
	--bubble-shell-distance: 89px;
	position: static;
	flex-shrink: 0;
	margin-left: 16px;
    margin-bottom: 1px;
    font-size: 46px;
    color: var(--main-darkpurple-color);
}

.bubble_send {
    --bubble-size: 202px;
    --bubble-shell-distance: 67px;
    --bubble-background: var(--main-orange-color);
    right: 142px;
    top: 94px;
    font-size: 32px;
    line-height: 38px;
    transform: rotate(-6deg);
}

.bubble_send::after {
    content: "";
    display: block;
    height: 12px;
}

.bubble_genders {
	--bubble-size: 159px;
    --bubble-shell-distance: 50px;
    --bubble-background: var(--main-yellow-color);
	right: 90px;
    bottom: 68px;
    font-size: 24px;
    transform: rotate(3deg);
}

.bubble_genders::after {
    content: "";
    display: block;
    height: 20px;
}

.bubble_genders .bubble__huge-number {
    font-size: 41px;
}

.bubble_heart {
	--bubble-size: 100px;
    --bubble-shell-distance: 32px;
    --bubble-background: var(--main-pink-color);
	right: 469px;
	bottom: 231px;
}

.bubble_flower {
	--bubble-size: 153px;
    --bubble-shell-distance: 48px;
    --bubble-background: var(--main-yellow-color);
	right: 606px;
	top: 179px;
}

.bubble__button {
    background: linear-gradient(to right, var(--main-red-color) 0%, var(--main-yellow-color) 100%) 0 0 no-repeat;
    padding-left: 25px;
    padding-right: 25px;
    letter-spacing: 0.3px;
    margin-top: 16px;
    z-index: 1000;
}

.bubble__title_main {
    font-size: 60px;
    margin: 18px 0 0;
    line-height: 65px;
}

.bubble__note_main {
    text-transform: initial;
    margin: 0;
}

@media only screen and (max-width: 763px) {
    .bubble_main {
        --bubble-size: 50vw;
        font-size: 5vw;
    }

    .bubble__title_main {
        font-size: 10vw;
    }

    .bubble__button {
        font-size: 11px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.subscribe__email-label {
    color: var(--main-green-color);
    padding-right: 16px;
    padding-bottom: 4px;
}

.subscribe__email {
    padding: 9px 12px 11px;
    width: 258px;
    font-size: 15px;
    letter-spacing: 0.7px;
    color: var(--main-font-color);
    border: 1px solid #cdcdcd;
    border-radius: 4px;
}

.subscribe__email::placeholder {
    color: #cacaca;
    opacity: 1;
}

.subscribe__submit {
    padding-left: 27px;
    padding-right: 27px;
    background-color: var(--main-green-color);
    text-transform: uppercase;
    letter-spacing: 0.7px;
}


@media only screen and (max-width: 763px) {
    .subscribe__form {
        height: 145px;
    }
}

@media only screen and (min-width: 764px) {
    .subscribe__form {
        flex-direction: row;
        justify-content: flex-end;
    }

    .subscribe__email {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .subscribe__submit {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
.flags {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16px, 1fr));
	grid-gap: 8px;
	justify-items: center;
	list-style: none;
}

.flags__item {
    display: block;
    background: url('../images/flag-sprites.png') 0 0 no-repeat;
    width: 16px;
    height: 11px;
}

.flags__item_Czech {
    background-position: 0 -44px;
}
.flags__item_Greek {
    background-position: 0 -110px;
}
.flags__item_English {
    background-position: 0 -77px;
}
.flags__item_Taiwanese {
    background-position: 0 -242px;
}
.flags__item_Japanese {
    background-position: 0 -132px;
}
.flags__item_Bosnian {
    background-position: 0 -11px;
}
.flags__item_German {
    background-position: 0 -99px;
}
.flags__item_Italian {
    background-position: 0 -121px;
}
.flags__item_Dutch {
    background-position: 0 -66px;
}
.flags__item_Chinese {
    background-position: 0 -22px;
}
.flags__item_Arabic {
    background-position: 0 0;
}
.flags__item_French {
    background-position: 0 -88px;
}
.flags__item_Slovenian {
    background-position: 0 -209px;
}
.flags__item_Spanish {
    background-position: 0 -220px;
}
.flags__item_Korean {
    background-position: 0 -143px;
}
.flags__item_Portuguese {
    background-position: 0 -176px;
}
.flags__item_Norwegian {
    background-position: 0 -154px;
}
.flags__item_Russian {
    background-position: 0 -198px;
}
.flags__item_Polish {
    background-position: 0 -165px;
}
.flags__item_Swedish {
    background-position: 0 -231px;
}
.flags__item_Romanian {
    background-position: 0 -187px;
}
.flags__item_Danish {
    background-position: 0 -55px;
}
.flags__item_Turkey {
    background-position: 0 -264px;
}
.flags__item_Slovak {
    background-position: 0 -286px;
}
.flags__item_Vietnamese {
    background-position: 0 -275px;
}
.flags__item_Croatian {
    background-position: 0 -33px;
}
.flags__item_Thai {
    background-position: 0 -253px;
}